/* common css */
*{
	box-sizing:border-box;
}

body {
	margin: 0;
	font: 15px/1.7 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	color: #555;
}

.container {
  margin: 0 auto;
  width: 960px;
}

a {
	text-decoration: none;
	transition:all 0.3s;
}

li{
	list-style: none;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}



/* project css */

@media(max-width: 970px){
	.container{
		width: 96%
	}
}


.header{
	width: 100%;
	height: 50px;
	background: rgba(0,0,0,.3);
	z-index: 100;
	position: relative;
}

.header .logo {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: absolute;
	margin-left: -30px;
	text-align: center;
	left: 50%;
	top: 10px;
	font-size: 35px;
	color: #fff;
	background: #00c4cc;
	box-shadow: 0 5px 5px rgba(0,0,0,.1);
	transition:top 0.2s ease-out,box-shadow .2s ease-out ;
}

.header .logo:hover{
	top: 18px;
	box-shadow: 0 3px 3px rgba(0,0,0,.3);
}

.header .nav{
	margin: 0px;
	padding: 0px;
	float: left;
	margin-top: 12px;
}

.header .nav li{
	float: left;
	margin-right: 7px;
}

.header .nav li a{
	color: #fff;
	font-size: 15px;
	padding: 8px 8px;
	border: 1px solid transparent;
	border-radius: 5px;
}

.header .nav li a:hover{
	border: 1px solid rgba(255,255,255,.2);
}

.header .nav li.current a{
	background: rgba(255,255,255,.3);
	border: 1px solid transparent;
}

h1.post-title, h3.section{
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  color: rgba(0,0,0,0.8);
  letter-spacing: -0.02em;
  line-height: 1;
  margin-left: -3px;
}

h1.post-title {
  margin: 10px 0;
  font-size: 60px;
}

h3.section {
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 30px;
}

.author-date{
	color: rgba(0,0,0,0.44);
  	line-height: 1;
  	margin-bottom: 40px;
}

.blog-wrapper{
	margin-top: 40px;
	margin: 0px auto;
	padding: 30px;
	width: 660px;
}

.post-img{
	max-width: 100%;
	display: block;
	margin: 30px auto;
}

.blog-banner{
	background: url(./img/psb2.jpeg);
	background-size: cover;
	height: 600px;
	margin-top: -50px;
	background-position: 50% 50%;
}

.banner-page{
	height: 450px;
	background: url("./img/psb2.jpeg");
	background-size: cover;
	background-position: 50% 50%;
	margin-top: -50px;
}

@media(max-width: 970px){
	.banner-page{
		height: 350px;
	}
}

@media(max-width: 500px){
	.banner-page{
		height: 250px;
	}
}

.tagline{
	margin-left: 100px;
	margin-top: 220px;
	color: #fff;
	font-weight: normal;
	font-size: 40px;
	text-align: center;
}

.tagline_caption{
	margin-left: 100px;
	font-size: 25px;
	color: #fff;
	text-align: center;
}

.post-list-wrapper{
	padding: 70px 0;
	background: #ebeced;
}

.post{
	float: left;
	width: 29.333%;
	background: #fff;
	height: 320px;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
	border-radius: 5px;
	position: relative;
	box-shadow: 0 2px 1px rgba(0,0,0,.08);
	position: relative;
}

@media(max-width: 500px){
	.post{
		width: 46%;
		margin-right: 2%;
		margin-left: 2%;
		height: 290px;
	}
}

.post .thumbnail{
	display: block;
	height: auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 100%;
}

.post .thumbnail-image{
	display: block;
	position: relative;
}

.post .thumbnail-image:before{
	display: block;
	background: #000;
	position: absolute;
	height: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 100%;
	opacity: 0;
	content: '';
	transition:opacity 0.6s;
}

.post .thumbnail-image:hover:before{
	opacity: 0.6;
}

.post-info{
	margin:24px; 
}

.post-info a{
	color: #000;
}

.post-info a:hover{
	color: #b5b9bd;
}

.post .date {
	left: 24px;
	bottom: 10px;
	position: absolute; 
}

.footer{
	height: 200px;
	background: #292d35;
	margin-top: 50px;
}

.footer a{
	color: #fff;
}

.footer .icon{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	float: left;
	margin-top: 20px;
	font-size: 25px;
	margin-right: 15px;
	text-align: center;
}

.icon.github{
	background: #2196f3;
}

.icon.weibo{
	background: #D32F2F;
}

.icon.email{
	background: #00BCD4;
}




